<?php
use Finance_Model_List_Type_AbstractType_Model as Model;

/** @var $recipientAcl array */
$recipientAcl = $this->acl;

/** @var $model Model */
$model = $this->model;

if(!($model instanceof Model)) {
    throw new \Exception("No model available or model is invalid");
}

/** @var $recipient string */
$recipient = $model->getConfiguration()->getRecipient()->getName();

if(!($recipient) || strlen($recipient) == 0) {
    throw new \Exception("No recipient available");
}
?>

<?php
// Добавляем в объект модели свойство sorterConfig, если в представление передан этот конфиг
$modelJson = $model->toJson();

if (isset($this->sorterConfig)) {
    $modelJson = json_decode($modelJson);
    $modelJson->sorterConfig = $this->sorterConfig;
    $modelJson = json_encode($modelJson);
}
?>

<script>
    var financeSupport;

    $(function(){
        window.financeSupport = new FinanceSupport_List_<?php echo htmlspecialchars(ucfirst($recipient)); ?>(<?php echo $modelJson; ?>);
    });
</script>

<section id="dataTableContainer" class="finance" style="min-width:900px; width: <?php echo (int) $this->width ?>px">
    <div class="filter-box">
        <div class="controls">
            <div class="fields-hider">
                <a href="#" data-action="finance-fields-hider">Показать/скрыть поля</a>
                <?php echo $this->render("list/abstract/form/fields-hider.phtml"); ?>
            </div>
            <? if (isset($this->sorterConfig)) { ?>
                <? // Форма сортировки ?>
                <div class="table-sorter">
                    <a href="#" data-action="finance-table-sorter">Сортировка</a>
                    <?php echo $this->render("list/abstract/form/table-sorter.phtml"); ?>
                </div>
            <? } ?>
            <span data-filter-action="reset" class="filter-reset">Сбросить фильтры</span>
        </div>
        <div id="filter-container"></div>
    </div>
    <?php
    if($recipient == 'payment') {
        require_once realpath(__DIR__).'/form/navigation/payment.phtml';
    }else{
        require_once realpath(__DIR__).'/form/navigation/default.phtml';
    }
    ?>
    <?php if($recipient == "payment") { ?>
        <?php require_once realpath(__DIR__).'/../abstract/form/create-payment-ticket.phtml'; ?>

        <div class="datatable-controls">
            <div class="container">
                <section class="search-box">
                    <form action="#" class="search-form">
                        <input type="search" class="search-textbox" placeholder="Поиск по примечанию"/>
                        <button class="search-button">
                            <img src="/img/search.png" align="OK" title="Выполнить поиск по примечанию"/>
                        </button>
                        <button class="search-reset">
                            <img src="/img/system/clear.16.png" align="Очистить" title="Очистить"/>
                        </button>

                        <script>
                            $(function(){
                                var section = $('section.search-box');

                                var financeSearchBox = new FinanceSupport_Searchbox(window.financeSupport, {
                                    'searchForm': section.find('form'),
                                    'searchBox': section.find('input.search-textbox'),
                                    'searchButton': section.find('button.search-button'),
                                    'searchReset': section.find('button.search-reset')
                                });
                            });
                        </script>
                    </form>
                </section>

                <?php
                $hasAccess = App_Finance_Ticket_Factory::getInstance()->createFromTicketTypeName('payment_request')->getAcl()->hasAccessCreate();
                $isActive = $model->getConfiguration()->getTicketStatusInt() == App_Finance_Ticket_Component_Status_Type_Default_Status::STATUS_ACTIVE;

                if($hasAccess && $isActive) { ?>
                    <section class="create-payment-request-button">
                        <input type="button" class="brownButton bigButton" value="Создать запрос на оплату" data-action="create-payment-ticket"/>
                    </section>
                <?php } ?>
            </div>
        </div>
    <?php } ?>
    <div id="grid-container" class="filter-grid"></div>
    <footer>
        <div class="abstract" style="position: relative">
            <?php
            if($model->getConfiguration()->getButtons()->get("excel")) {
                echo '<input type="button" class="brownButton bigbutton" data-action="excel" value="Выгрузка в Excel"/>'."\n";
            }

            if($model->getConfiguration()->getWorkPeriodFilterEnabled()) {
                echo '<input type="button" class="brownButton bigbutton work-period" data-action="work-period" value="Рабочий период"/>'."\n";
            }
            ?>
        </div>
        <div class="concrete">
            <?php
            foreach($model->getConfiguration()->getButtons()->getItems() as $buttonName => $buttonEnabled) {
                if($buttonEnabled) {
                    switch($buttonName) {
                        default:
                            $buttonTitle = false;
                            break;

                        case 'active':
                            $buttonTitle = 'В активные запросы';
                            break;

                        case 'archive':
                            $buttonTitle = 'Провести';
                            break;

                        case 'cancel':
                        case 'pending-cancel':
                            $buttonTitle = 'Отменить';
                            break;

                        case 'destroy':
                            $buttonTitle = 'Удалить';
                            break;

                        case 'attachment':
                            $buttonTitle = 'Документы';
                            break;

                        case 'accept':
                            $buttonTitle = 'Провести';
                            break;

                        case "print":
                            $buttonTitle = "Печать";
                            break;

                        case "history":
                            $buttonTitle = "История";
                            break;

                        case "reconciliation":
                            $buttonTitle = "Акт сверки";
                            break;

                        case "setviewed":
                            $buttonTitle = "Отм-ть просмотренным";
                            break;

                        case "setnotviewed":
                            $buttonTitle = "Отм-ть непросмотренным";
                            break;
                    }

                    if($buttonTitle) {
                        echo "<input class=\"brownButton bigButton\" type=\"button\" value=\"{$buttonTitle}\" data-action=\"ticket-{$buttonName}\"/>\n";
                    }
                }
            }
            ?>
        </div>
    </footer>

    <section class="ticket-controls">
        <?php
        echo $this->render("list/abstract/form/notify.phtml", array(
            "filterConfig" => $this->filterConfig
        ));

        foreach($model->getConfiguration()->getForms()->getItems() as $formName => $formEnabled) {
            if($formEnabled) {
                echo $this->render("list/abstract/form/{$formName}.phtml", array(
                    "filterConfig" => $this->filterConfig
                ));
            }
        }

        if($model->getConfiguration()->getWorkPeriodFilterEnabled()) {
            echo $this->render("list/abstract/form/work-period.phtml", array(
                "filterConfig" => $this->filterConfig
            ));
        }
        ?>
    </section>
</section>
