<?php // required: date, claim_id, clientName, unload_address, date_to_process, unload_depot_worktime, unload_сontact, dispatcher_name, dispatcher_phone ?>
<section class="finance print">
    <header>
        <h1>Заявка #<span class="claim-id"><?php echo htmlspecialchars($this->claim_id); ?></span></h1>
        <time><?php echo htmlspecialchars($this->date); ?></time>
    </header>
    <table class="list">
        <tr>
            <td style="width:7cm">Клиент</td>
            <td><?php echo htmlspecialchars($this->client_name); ?></td>
        </tr>
        <tr>
            <td>Адрес выгрузки</td>
            <td><?php echo htmlspecialchars($this->unload_address); ?></td>
        </tr>
        <tr>
            <td>Время выгрузки</td>
            <td><?php echo htmlspecialchars($this->date_to_process); ?>(<?php echo htmlspecialchars($this->unload_depot_worktime); ?>)</td>
        </tr>
        <tr>
            <td>Конктактное лицо на выгрузке</td>
            <td><?php echo htmlspecialchars($this->unload_contact); ?></td>
        </tr>
        <tr>
            <td>Телефон контактного лица на выгрузке</td>
            <td><?php echo htmlspecialchars($this->unload_phone); ?></td>
        </tr>
        <tr>
            <td>Диспетчер</td>
            <td><?php echo htmlspecialchars($this->dispatcher_name); ?>(<?php echo htmlspecialchars($this->dispatcher_phone); ?>)</td>
        </tr>
    </table>
    <footer>
        <input type="button" value="Закрыть" data-action="close"/>
        <input type="button" value="Печать" data-action="print"/>
    </footer>
</section>