<?php
use Finance_Model_Sender_Form as SenderForm;

/** @var $senderForm SenderForm */
$senderForm = $this->senderForm;

if (!($senderForm instanceof SenderForm)) {
    throw new \Exception("No sender form found");
}

$this->headLink()->appendCssFiles(array(
    "/css/themes/smoothness/ui.all.css",
    "/css/themes/smoothness/ui.datepicker.css",
    "/css/sass/jquery.css",
    "/css/sass/finance/finance.css",
    "/css/sass/form/form-abstract.css",
));

$this->headScript()->appendJsFiles(array(
    "/js/jquery/jquery.ruDate.js",
    "/js/jquery/jquery.ajaxStatus.js",
    "/js/jquery/jquery.ajaxHandler.js",
    "/js/jquery/jquery.timepicker.js",
    "/js/jquery/jquery.transition.js",
    "/js/finance/form/delaypicker.js",
    "/js/finance/form/sender/widget.js",
    "/js/finance/form/sender/sender.js",
    '/js/finance/form/sender/block.js',
    "/js/jqueryui/jquery-ui.js",
    "/js/jqueryui/datepickerru/ui.datepicker-ru.js",
));
?>

<script>
    var financeSupportSender;

    $(function () {
        var domObject = $($('script[data-script-type="sender-form"]').html());

        window.financeSupportSender = new FinanceSupport_Form_Sender({
            "domObject": domObject,
            "dataUrl": "<?php echo stripslashes($senderForm->getDataUrl()) ?>",
            "postUrl": "<?php echo stripslashes($senderForm->getPostUrl()) ?>",
            "claimId": <?php echo (int) $senderForm->getClaimId(); ?>
        });
    });
</script>

<script type="text/html" data-script-type="sender-form">
    <section class="finance filter-forms">
        <form action="" method="post" class="form-abstract form-sender" style="display: block" enctype="multipart/form-data">
            <input type="hidden" name="claimId" data-attr="claimId"/>
            <header>
                <h1>Саппорт</h1>
            </header>
            <div class="widget widget-advanced">
                <div data-attr="routes-list">
                </div>
            </div>
            <footer>
                <div class="right">
                    <input class="brownButton" type="button" data-tc-action="cancel" value="Отмена" title="Отменить отправку запросов в саппорт, не отменяя изменений в заявке"/>
                    <input class="brownButton" type="submit" data-tc-action="perform" value="Отправить"/>
                </div>
            </footer>
        </form>
    </section>
</script>

<script type="text/html" lang="html" data-script-type="sender-form-widget-advanced-recipient">
    <ul data-attr="routes">
        <header>
            <h4 data-attr="recipient"></h4>
        </header>
    </ul>
</script>

<script type="text/html" lang="html" data-script-type="sender-form-widget-advanced-route">
    <li>
        <label>
            <input type="checkbox" data-attr="checkbox"/>
            <input type="hidden" name="routes[isChecked]" data-attr="isChecked"/>
            <input type="hidden" name="routes[ticketTypeId]" data-attr="ticketTypeId"/>
            <span data-attr="ticket-type"></span>
            <span data-attr="annotation" class="annotation"></span>
        </label>
        <time>
            <input type="hidden" name="routes[dateToProcess]" data-attr="dateToProcess"/>
        </time>
        <label class="attachment service-note">
            Служебная записка:
            <input type="file" name="routes[serviceNote]" data-attr="serviceNote"/>
            <a href="#" title="Открыть служебную записку" target="_blank">service-note.doc</a>
        </label>
        <label class="attachment explanatory-note">
            Пояснительная записка:
            <input type="file" name="routes[explanatoryNote]" data-attr="explanatoryNote"/>
            <a href="#" title="Открыть пояснительную записку" target="_blank">explanatory-note.doc</a>
        </label>
    </li>
</script>