<?php
$diffModel = $this->diffModel;

$urlOrig = $diffModel['claimUrlOrig'];
$urlHead = $diffModel['claimUrlHead'];

$timeOrig = $diffModel['timeOrigString'];
$timeHead = $diffModel['timeHeadString'];
?>

<script>
    $(function(){
        window.diff = new FinanceSupport_Diff(<?php echo json_encode($diffModel); ?>);
    });
</script>

<section class="finance finance-diff finance-diff-both">
    <header>
        <div class="left">
            <h1>В заявке произошли изменения!</h1>
            <time>Просмотрите изменения, прежде чем подтверждать заявку</time>
        </div>
        <div class="right">
            <input type="button" value="Перейти к заявке" class="brownButton bigButton" data-action="open-claim"/>
        </div>
    </header>
    <div class="frames" data-attr="page-content">
        <div data-attr="notification-area">
        </div>

        <div class="version version-head" data-iframe-version="head">
            <header>
                <h1>Стало: Версия от <time><?php echo $timeHead; ?></time></h1>
            </header>
            <div class="controls">
                <button data-action="open"><img src="/img/finance/open.png" width="16"> <span>Открыть в отдельном окне</span></button>
                <button data-action="print"><img src="/img/finance/print.png" width="16"> <span>Печать</span></button>
            </div>
            <iframe src="<?php echo htmlspecialchars($urlHead); ?>" class="right"></iframe>
        </div>


        <br/><hr/><br/>

        <div class="version version-orig" data-iframe-version="orig">
            <header>
                <h1>Было: версия от <time><?php echo $timeOrig; ?></time></h1>
            </header>
            <div class="controls">
                <button data-action="open"><img src="/img/finance/open.png" width="16"> <span>Открыть в отдельном окне</span></button>
                <button data-action="print"><img src="/img/finance/print.png" width="16"> <span>Печать</span></button>
            </div>
            <iframe src="<?php echo htmlspecialchars($urlOrig); ?>" class="left"></iframe>
        </div>
    </div>
</section>

<script type="text/html" data-script-type="finance-notification-fields">
    <div class="notify">
        <strong>В заявке изменились поля: </strong>
        <span>Сумма, Дата</span>
    </div>
</script>

<script type="text/html" data-script-type="finance-notification-products">
    <div class="notify">
        <strong>В заявке изменились товары</strong>
    </div>
</script>