<script>
    $(function(){
        window['filterController'] = new Default_Penalty_FilterController();
        window['createPenaltyForm'] = new Default_Penalty_Form(window['filterController']);

        window['filterController'].setupButtons(window['createPenaltyForm']);
    });
</script>

<section class="penalty-filter">
    <!-- Контейнер с фильтром -->
    <div class="filter-box">
        <div id="filter-container"></div>
    </div>

    <!-- Контейнер с гридом -->
    <div id="grid-container" class="filter-grid"></div>

    <!-- Управление -->
    <footer>
        <div class="left">
            <input type="button" class="brownButton" value="Добавить новую систему автоматического штрафования" data-filter-action="create"/>
        </div>
        <div class="right">
            <input type="button" class="brownButton" value="Удалить" data-filter-action="remove"/>
            <input type="button" class="brownButton" value="Редактировать" data-filter-action="edit"/>
        </div>
    </footer>
</section>

<script type="text/html" data-script-type="create-penalty-form">
    <section class="penalty-create-form">
        <form action="/default/penalty/save-form" method="post">
            <input type="hidden" name="id" id="createFormId" value=""/>

            <header>
                <h1 class="window-title">Создание системы автоматического штрафования</h1>
            </header>
            <table class="form-table form-table-penalty">
                <tbody>
                    <tr>
                        <td style="width: 170px;"><label for="createFormTitle">Название</label></td>
                        <td class="input-full-width">
                            <div class="input-full-width">
                                <input type="text" id="createFormTitle" name="name" placeholder="Название"/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="createFormWatcherSelect">Тип штрафования</label></td>
                        <td>
                            <div class="input-full-width">
                                <select name="watcher" id="createFormWatcherSelect" class="watcher-select" data-sub-form-trigger="watcher">
                                </select>
                                <div class="description"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="createFormSchemeSelect">Схема выписывания штрафов</label></td>
                        <td>
                            <select name="scheme" id="createFormSchemeSelect" class="scheme-select" data-sub-form-trigger="scheme">
                            </select>
                            <div class="description"></div>
                        </td>
                    </tr>
                </tbody>
                <tbody id="createFormWatcherSubForm" style="display: none"></tbody>
                <tbody id="createFormSchemeSubForm" style="display: none"></tbody>
                <tbody>
                    <tr>
                        <td><label for="createFormRunPeriod">Период проверки условий</label></td>
                        <td>
                            <div>
                                <input type="text" id="createFormRunPeriod" name="period" placeholder="(в часах)"/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="createFormReason">Причина</label></td>
                        <td>
                            <div class="input-full-width">
                                <textarea name="reason" style="width:100%" id="createFormReason" placeholder="Рассылка по E-mail"></textarea>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="createFormEnabledCheckbox">Статус</label></td>
                        <td>
                            <label for="createFormEnabledCheckbox">
                                <input name="enabled" value="0" id="createFormEnabledHidden" type="hidden"/>
                                <input type="checkbox" id="createFormEnabledCheckbox"/>Включено?
                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>
            <footer>
                <input type="button" value="Закрыть" data-form-button="hide"/>
                <input type="submit" value="Создать"/>
            </footer>
        </form>
    </section>
</script>

<?php require __DIR__.'/form/schemes.phtml';  ?>