<!-- Форма "формирование акта сверки" -->
<script type="text/html" data-finance-form="act-of-reconciliation">
    <section class="finance filter-forms">
        <form action="<?php echo $this->linkPrefix(); ?>/finance/ticket/claim/reconciliation" method="post" class="form-act-of-reconciliation" target="_blank">
            <input type="hidden" data-attr="ticket-id" name="ticketId"/>
            <input type="hidden" data-attr="manager-id" name="managerId"/>
            <input type="hidden" data-attr="client-id" name="clientId"/>

            <header>
                <h1>Формирование акта сверки для <span data-autofill-attr="claim-id">TASK0</span></h1>
            </header>
            <ul class="form-inputs">
                <li>
                    <label>
                        Клиент: <span data-attr="client-name"/>
                    </label>
                </li>
                <li>
                    <label>
                        Менеджер: <span data-attr="manager-name"/>
                    </label>
                </li>
                <li>
                    <label>
                        От даты: <input type="text" data-attr="startDate" name="startDate" class="startDate"/>
                    </label>
                </li>
                <li>
                    <label>
                        До даты: <input type="text" data-attr="endDate" name="endDate" class="endDate"/>
                    </label>
                </li>
                <li>
                    <label>
                        <input name="showAll" data-attr="showAll" type="checkbox"/> Показать все
                    </label>
                </li>
            </ul>
            <footer>
                <input class="brownButton" type="button" data-tc-action="close" value="Закрыть"/>
                <input class="brownButton" type="button" data-tc-action="credit-limit-details" value="Кредитный лимит"/>
                <input class="brownButton" type="submit" data-tc-action="perform" value="Сформировать акт сверки"/>
            </footer>
        </form>
    </section>
</script>