<!-- Смена статуса запроса на "активный" -->
<script type="text/html" data-finance-form="active">
    <section class="finance filter-forms">
        <form action="<?php echo $this->linkPrefix(); ?>/finance/ticket/status/active/" method="post" class="form-active">
            <input type="hidden" name="ticketId"/>
            <input type="hidden" name="ticketStatus"/>
            <header>
                <h1>Перевод запроса #<span data-autofill-attr="ticket-id">0</span> в активные запросы</h1>
            </header>
            <p>Вы действительно хотите сделать <strong>активным</strong> запрос #<span data-autofill-attr="ticket-id">0</span>?
            <div data-append="details"></div>
            <footer>
                <input class="brownButton" type="button" data-tc-action="close" value="Закрыть"/>
                <input class="brownButton" type="submit" data-tc-action="perform" value="Сделать активным"/>
            </footer>
        </form>
    </section>
</script>