<!-- Подтверждения тикета -->
<script type="text/html" data-finance-form="archive">
    <section class="finance filter-forms">
        <form action="<?php echo $this->linkPrefix(); ?>/finance/ticket/status/archived/" method="post" class="form-archive">
            <input type="hidden" name="ticketId"/>
            <input type="hidden" name="ticketStatus"/>
            <header>
                <h1>Подтверждение запроса #<span data-autofill-attr="ticket-id">0</span></h1>
            </header>
            <p>Вы действительно подвердить и провести запрос #<span data-autofill-attr="ticket-id">0</span>?
            <div data-append="details"></div>
            <footer>
                <input class="brownButton" type="button" data-tc-action="close" value="Закрыть"/>
                <input class="brownButton" type="submit" data-tc-action="perform" value="Подтвердить запрос"/>
            </footer>
        </form>
    </section>
</script>