<!-- Форма прикрепления документов к тикету -->
<script type="text/html" data-finance-form="attachment">
    <section class="finance filter-forms">
        <form class="form-documents form-abstract">
            <h1>Прикрепление документов к запросу #<span data-autofill-attr="ticket-id">0</span></h1>
            <section>
                <div class="drop_placeholder">
                    <p>Перетащите сюда файл или воспользуйтесь формой: </p>
                    <input name="file" class="file" type="file">
                </div>
                <ul class="documents">
                </ul>
            </section>
            <footer>
                <input class="brownButton" type="button" data-tc-action="close" value="Закрыть"/>
                <input class="brownButton" type="button" value="Скачать все документы" data-tc-action="download-zip"/>
                <input class="brownButton" type="submit" data-tc-action="perform" value="Загрузить"/>
            </footer>
        </form>
    </section>
</script>