<!-- Причина отмены запроса -->
<script type="text/html" data-finance-form="cancellation-reason">
    <section class="finance filter-forms">
        <form action="#" class="form-abstract form-cancellation-reason">
            <input type="hidden" name="ticketId"  data-attr="ticket-id"/>
            <header>
                <h1>Причина отмены запроса #<span data-autofill-attr="ticket-id">0</span></h1>
            </header>
            <ul class="form-inputs">
                <li data-attr="user">
                    <label for="#">
                        Отменил: <span class="user"></span>
                    </label>
                </li>
                <li data-attr="reason">
                    <label for="#">
                        Причина: <span class="reason"></span>
                    </label>
                </li>
            </ul>
            <footer>
                <input class="brownButton" type="button" data-tc-action="close" value="Закрыть"/>
            </footer>
        </form>
</script>