<?php
/** assets */
$this->headScript()->appendJsFiles(array(
    '/js/finance/payment/create-ticket.js',
    '/js/finance/payment/details.js',
    '/js/finance/payment/factory.js',
));

/** form */

$dataSource = App_Finance_Ticket_Type_Payment_Form_DataSource::getInstance();
$paymentTypes = $dataSource->getPaymentTypes()->getAvailablePaymentTypes();
?>

<!-- Уведомление о создании запроса -->
<section class="finance-notify" id="paymentRequestNotify">
    <div class="notify">
    </div>
</section>

<!-- Форма создания запроса на оплату -->
<script type="text/html" data-finance-form="create-payment-ticket">
    <section class="finance filter-forms">
        <form action="#" method="post" class="form-abstract form-create-ticket" enctype="multipart/form-data">
            <header>
                <h1 data-attr="window-title">Создать запрос на оплату</h1>
            </header>
            <section class="notification-area" data-attr="notification-area" style="display: none;">
                <p><img src="/img/system/error.16.png"> Подобные запросы на оплату уже существуют!</p>
                <div class="table-container">
                    <table>
                        <thead>
                        <tr>
                            <th style="width: 50px;">#</th>
                            <th>Автор</th>
                            <th style="width: 120px;">Дата</th>
                            <th style="width: 100px;">Сумма</th>
                        </tr>
                        </thead>
                        <tbody data-attr="notification-area-messages">
                        </tbody>
                    </table>
                </div>
                <div class="notification-total">Итого: <span class="notification-total-value" data-attr="notification-total"></span></div>
            </section>
            <table class="form-table form-table-payment">
                <tbody>
                    <tr>
                        <td><label for="cptSum">Сумма</label></td>
                        <td>
                            <div data-mode="write">
                                <input type="text" id="cptSum" name="sum" placeholder="0.00"/>
                            </div>
                            <div class="text-field" data-mode="readonly" data-attr="span-sum"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="">Тип оплаты</label></td>
                        <td>
                            <div data-mode="write">
                                <select class="payment-type" id="cptPaymentType" name="paymentType">
                                    <option value="0">не выбрано</option>
                                    <?php foreach($paymentTypes as $ticketType) { ?>
                                        <?php if($dataSource->getPaymentTypes()->hasAccessWritePaymentType($ticketType['acl'])) { ?>
                                            <option value="<?php echo $ticketType['id']; ?>"
                                                    data-attr-details-enabled="<?php echo (int) $ticketType['details'] ?>"
                                                    data-attr-payment-type="<?php echo $ticketType['name']; ?>"><?php echo $ticketType['title']; ?></option>
                                            <?php } ?>
                                    <?php } ?>
                                </select>
                            </div>
                            <div class="text-field" data-mode="readonly" data-attr="span-payment-type"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="cptClientId">Клиент</label></td>
                        <td>
                            <div data-mode="write">
                                <div class="clientSearchBoxContainer">
                                    <input type="text" id="cptClientSearchBox" class="clientSearchBox" placeholder="(быстрый поиск по клиенту)"/>
                                </div>
                                <select id="cptClientId" name="clientId" class="clientId">
                                    <option value="0">не выбрано</option>
                                </select>
                            </div>
                            <div class="text-field" data-mode="readonly" data-attr="span-client"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="cptDocumentNumber">Номер документа</label></td>
                        <td>
                            <div data-mode="write">
                                <div class="document-number-container">
                                    <input type="text" class="document-number" id="cptDocumentNumber" name="documentNumber" placeholder="Номер документа"/>
                                </div>
                            </div>
                            <div class="text-field" data-mode="readonly" data-attr="span-document-number"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="cptDocumentNumber">От даты</label></td>
                        <td>
                            <div data-mode="write">
                                <div class="from-date-container">
                                    <input type="text" class="document-number" id="cptFromDate" name="fromDate" placeholder="ДД.ММ.ГГГГ"/>
                                </div>
                            </div>
                            <div class="text-field" data-mode="readonly" data-attr="span-from-date"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="cptAnnotation">Примечание</label></td>
                        <td>
                            <div data-mode="write">
                                <div class="annotation-container">
                                    <textarea class="annotation" id="cptAnnotation" name="annotation" placeholder="Примечание"></textarea>
                                </div>
                            </div>
                            <div class="text-field" data-mode="readonly" data-attr="span-annotation"></div>
                        </td>
                    </tr>
                    <tr data-container="payment-ticket-files">
                        <td><label for="cptFile">Файлы</label></td>
                        <td>
                            <div data-mode="write">
                                <input id="cptFile" type="file" name="documents[]"/>
                            </div>
                            <ul class="file-list"></ul>
                            <div data-mode="readonly" class="download-zip">
                                <input class="brownbutton" type="button" data-attr="download-zip" value="Скачать все документы"/>
                            </div>
                        </td>
                   </tr>
                   <tr data-mode="write" data-record="is-waste">
                        <td colspan="2" class="padding-colspan">
                            <label for="cptIsWaste">
                                <input type="hidden" name="isWaste" value="0"/>
                                <input type="checkbox" id="cptIsWaste" data-attr="is-waste-checkbox"/> За отходы
                            </label>
                        </td>
                    </tr>
                    <tr data-mode="readonly" data-record="is-waste">
                        <td colspan="2" class="padding-colspan">
                            <label for="cptIsWasteReadonly">
                                <input type="checkbox" id="cptIsWasteReadonly" checked="checked" onclick="return false;"/> За отходы
                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div style="position:relative;" class="payment-details-ajax-form">
                <table class="form-table">
                    <tbody class="payment-details" data-section="payment-details">
                    <tr class="header big-header">
                        <td colspan="3"><label for="cptFile">Расшифровка</label></td>
                    </tr>
                    </tbody>
                    <tbody class="payment-details" data-mode="write">
                    <tr>
                        <td><label for="cptClaimDateRange">Отбирать заявки:</label></td>
                        <td class="claim-date-range" colspan="2">
                            <label><input checked="checked" type="radio" name="monthRange" value="3" data-attr="detailsMonthRange"/>3 месяца</label>
                            <label><input type="radio" name="monthRange" value="6" data-attr="detailsMonthRange"/>6 месяцев</label>
                            <br/>

                            <label><input type="radio" name="monthRange" value="9" data-attr="detailsMonthRange"/>9 месяцев</label>
                            <label><input type="radio" name="monthRange" value="0" data-attr="detailsMonthRange"/>Все</label>
                        </td>
                    </tr>
                    <tr class="header">
                        <td colspan="3">
                            <a href="#" data-control="payment-details-add-client" class="payment-link-control"><img src="/img/system/add.png"/> <span>Добавить клиента в расшифровку</span></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <footer>
                <input class="brownButton" type="button" data-tc-action="close" value="Закрыть"/>
                <input class="brownButton" type="submit" data-tc-action="perform" value="Создать запрос" data-mode="write"/>
            </footer>
        </form>
    </section>
</script>

<script type="text/html" data-create-ticket-payment-form-component="details">
    <tr>
        <td><label for="cptClientId">Клиент</label></td>
        <td>
            <div data-mode="write">
                <div data-mode="write">
                    <div class="clientSearchBoxContainer">
                        <input data-attr="detailsClientOmnibox" type="text" class="clientSearchBox" placeholder="(быстрый поиск по клиенту)"/>
                        <select name="details[0][clientId]" data-attr="detailsClientId" class="clientId"></select>
                    </div>
                </div>
            </div>
            <div data-mode="readonly" class="text-field" data-attr="span-details-client"></div>
        </td>
        <td rowspan="2" data-mode="write" class="td-third">
            <a href="#" title="Удалить клиента из расшифровки" class="remove-button"><img src="/img/system/remove.png" alt="[x]"/></a>
        </td>
    </tr>
    <tr>
        <td><label for="cptClientId">Заявки</label></td>
        <td class="claim-subforms">
            <div class="claims" data-container="claims"></div>
            <div class="controls" data-mode="write">
                <a href="#" class="payment-link-control" data-control="add-claim-subform"><img src="/img/system/add.png"/> <span>Добавить заявку</span></a>
            </div>
        </td>
    </tr>
</script>

<script type="text/html" data-create-ticket-payment-form-component="claim-sum">
    <div class="claim-sum-container">
        <ul>
            <li data-mode="write">
                <label>Сумма по заявке</label>

                <label>
                    <input type="checkbox" data-attr="checkbox-no-claim-sum" checked="checked"/> Нет
                </label>

                <label>
                    <input type="checkbox" data-attr="checkbox-has-claim-sum"/> Есть
                </label>

                <div class="remove-button">
                    <a href="#" title="Удалить сумму"><img src="/img/system/remove.png" alt="[x]"/></a>
                </div>
            </li>
            <li>
                <label for="claim[sum]">Заявка</label>
                <span data-mode="write">
                    <select data-attr="detailsClaimId" name="details[][claims][][claimId]" id="claim[sum]">
                        <option value="0">не выбрано</option>
                    </select>
                </span>
                <span class="text-field" data-mode="readonly" data-attr="span-claimsum-id"></span>
            </li>
            <li>
                <label for="claim[sum]">Сумма</label>
                <span data-mode="write">
                    <input data-attr="detailsClaimSum" name="details[][claims][][sum]" id="claim[sum]" placeholder="0.00"/>
                </span>
                <span class="text-field" data-mode="readonly" data-attr="span-claimsum-sum"></span>
            </li>
        </ul>
    </div>
</script>

<script type="text/html" data-create-ticket-payment-form-component="file-readonly">
    <div class="file-container file-container-readonly">
        <div class="file-item">
            <div class="file-info">
                <div class="name"></div>
                <div class="size"></div>
            </div>

            <footer>
                <a href="#" class="download-link"><span><img src="/img/system/save.16.png" title="Скачать файл"/>Скачать файл</span></a>
                <a href="#" class="view-link"><span><img src="/img/filemanager/view.png" title="Просмотр"/>Просмотр</span></a>
            </footer>
        </a>
    </div>
</script>

<script type="text/html" data-finance-form="create-payment-ticket-notification">
    <tr>
        <td data-attr="notification-ticket-id"></td>
        <td data-attr="notification-author"></td>
        <td data-attr="notification-date"></td>
        <td data-attr="notification-sum"></td>
    </tr>
</script>



<script>
    $(function(){
        window.createPaymentTicketForm = new FinanceSupport_Payment_CreateTicketForm();
    });
</script>