<!-- Форма "формирование акта сверки" -->
<script type="text/html" data-finance-form="credit-limit-details">
    <section class="finance filter-forms">
        <form action="#" class="form-credit-limit-details" target="_blank">
            <header>
                <h1 data-attr="isExceeded"></h1>
                <h2 data-attr="explain"></h2>
            </header>

            <table class="details">
                <tbody data-attr="details-list">
                <tr>
                    <td><label for="field1">Клиент</label></td>
                    <td><input id="field1" type="text" readonly="true" data-attr="clientName"/></td>
                </tr>
                <tr>
                    <td><label for="field5">Баланс клиента</label></td>
                    <td><input id="field5" type="text" readonly="true" data-attr="clientBalance"/></td>
                </tr>
                <tr>
                    <td><label for="field2">Кредитный лимит клиента</label></td>
                    <td><input id="field2" type="text" readonly="true" data-attr="clientCreditLimit"/></td>
                </tr>
                <tr>
                    <td><label for="field3">Сумма счетов</label></td>
                    <td><input id="field3" type="text" readonly="true" data-attr="invoicesSum"/></td>
                </tr>
                <tr>
                    <td><label for="field4">Превышение кредитного лимита</label></td>
                    <td><input id="field4" type="text" readonly="true" data-attr="exceedValue"/></td>
                </tr>
                <tr>
                    <td><label for="field6">Контроль договоров</label></td>
                    <td><input id="field6" type="text" readonly="true" data-attr="controlOfDebts"/></td>
                </tr>
                </tbody>
            </table>
            <footer>
                <input class="brownButton" type="button" data-tc-action="close" value="Закрыть"/>
                <input class="brownButton" type="button" data-tc-action="recalculate" value="Пересчитать кредитный лимит"/>
                <input class="brownButton" type="button" data-tc-action="act" value="Акт сверки"/>
            </footer>
        </form>
    </section>
</script>