<!-- Смена времени обработки запроса -->
<script type="text/html" data-finance-form="date-to-process">
    <section class="finance filter-forms">
        <form action="#" method="post" class="form-date-to-process">
            <input type="hidden" name="ticketId"/>
            <header>
                <h1>Дата подачи транспорта для <span data-autofill-attr="claim-id">TASK0</span></h1>
            </header>
                <p>Укажите новую дату/времени подачи транспорта</p>

                <div class="info" data-attr="email-message">
                    <img src="/img/finance/mail.png"/>
                    <span>Менеджеру будет отправлено письмо об изменении даты подачи транспорта</span>
                </div>

                <div class="center-form-element">
                    <input type="hidden" name="dateToProcess" data-attr="date-to-process"/>
                </div>
            <footer>
                <input class="brownButton" type="button" data-tc-action="close" value="Закрыть"/>
                <input class="brownButton" type="submit" data-tc-action="perform" value="Сохранить"/>
            </footer>
        </form>
</script>
