<!-- Отмена тикета -->
<script type="text/html"  data-finance-form="destroy">
    <section class="finance filter-forms">
        <form action="<?php echo $this->linkPrefix(); ?>/finance/ticket/status/deleted/" method="post" class="form-cancel">
            <input type="hidden" name="ticketId"/>
            <header>
                <h1>Удаление запроса #<span data-autofill-attr="ticket-id">0</span></h1>
            </header>
            <p>Вы действительно хотите удалить запрос #<span data-autofill-attr="ticket-id">0</span>?
            <div data-append="details"></div>
            <footer>
                <input class="brownButton" type="button" data-tc-action="close" value="Закрыть"/>
                <input class="brownButton" type="submit" data-tc-action="perform" value="Удалить запрос"/>
            </footer>
    </form>
</script>