<!-- Тикет - подробности -->
<script type="text/html" data-finance-form="details">
    <section class="finance filter-forms">
        <form class="form-details">
            <table class="ticket-details">
                <tbody data-attr="details-list">
                </tbody>
            </table>
        </form>
</script>

<script type="text/html" data-finance-form="details-record">
    <tr>
        <td data-attr="field-name"></td>
        <td data-attr="field-value"></td>
    </tr>
</script>