<!-- Список прикрепленных к запросу документов -->
<script type="text/html" data-finance-form="list-documents">
    <ul data-attr="list-documents filter-forms">
    </ul>
</script>

<script type="text/html" data-finance-form="list-documents-element">
    <div class="link">
        <div class="direct-link">
            <a class='link' href="#">document.ext</a>
        </div>
        <div class="view">
            <a title="Просмотр файла" href="#" class="icon-view"><img src="/img/filemanager/view.png" alt="Просмотр"/></a>
        </div>
    </div>
</script>

<script type="text/html" data-finance-form="list-documents-element-detailed">
    <li>
        <div class="fileName"><a href="#"></a></div>
        <div class="dateCreated"><a href="#"></a></div>
        <div class="view"><a title="Просмотр файла" href="#" class="icon-view"><img src="/img/filemanager/view.png" alt="Просмотр"/></a></div>
        <div class="close"><a title="Удалить файл" href="#" class="icon-close"><img src="/img/system/remove.png" alt="Удалить"/></a></div>
    </li>
</script>