<!-- Скрытие/показ полей  -->
<script type="text/html" data-form-type="data-table-fields-hider">
    <form class="form-popup form-fields-hider">
        <ul data-attr="fields-list">
        </ul>
    </form>
</script>

<script type="text/html" data-form-type="data-table-fields-hider-record">
    <li>
        <label>
            <input type="checkbox" data-attr="fields-hider-checkbox"/>
            <span data-attr="fields-hider-title"></span>
        </label>
    </li>
</script>