<!-- История запросов по заявке -->
<script type="text/html" data-finance-form="history">
    <section class="finance filter-forms">
        <form action="#" method="post" class="form-history">
            <input type="hidden" name="ticketId"/>
            <header>
                <h1>История запросов к заявке <span data-autofill-attr="claim-id">TASK0</span></h1>
            </header>
            <div class="history-content">
                <table>
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Тип запроса</th>
                        <th>Статус</th>
                        <th>Дата создания</th>
                        <th>Выполнить до</th>
                        <th>Обработан</th>
                    </tr>
                    </thead>
                    <tbody data-attr="records">
                    </tbody>
                </table>
            </div>
            <footer>
                <input class="brownButton" type="button" data-tc-action="close" value="Закрыть"/>
            </footer>
        </form>
</script>

<script type="text/html" data-form-template="ticket-history-record">
    <tr>
        <td data-attr="id"><a href="#" target="_blank">#0</a></td>
        <td data-attr="ticketType">ticketType</td>
        <td data-attr="status">status</td>
        <td data-attr="dateCreated">0000-00-00</td>
        <td data-attr="dateToProcess">0000-00-00</td>
        <td data-attr="dateProcessed">0000-00-00</td>
    </tr>
</script>