<!-- Форма по дабл-клику -->
<script type="text/html" data-finance-form="main">
    <section class="finance filter-forms">
        <form class="form-abstract form-main">
            <header>
                <h1>Запрос #<span data-autofill-attr="ticket-id">0</span></h1>
            </header>
            <ul class="main-tab">
                <li>
                    <a href="#" data-action="date-to-process">
                        <img src="/img/finance/date-to-process.png"/>
                        <header>Дата подачи транспорта</header>
                        <p>Изменить дату/время подачи транспорта и отправить менеджеру уведомление об изменении</p>
                    </a>
                </li>
                <li>
                    <a href="#" data-action="attachment">
                        <img src="/img/finance/upload.png"/>
                        <header>Прикрепить документы</header>
                        <p>Прикрепить документы к запросу</p>
                    </a>
                </li>
                <li>
                    <a href="#" data-action="history">
                        <img src="/img/finance/history.png"/>
                        <header>История запросов к заявке</header>
                        <p>Просмотр всех запросов к данной заявке</p>
                    </a>
                </li>
                <li>
                    <a href="#" data-action="print">
                        <img src="/img/finance/print.png"/>
                        <header>Печать</header>
                        <p>Печать основных данных о запросе</p>
                    </a>
                </li>
                <li>
                    <a href="#" data-action="archive">
                        <img src="/img/finance/archive.png"/>
                        <header>Провести</header>
                        <p>Подтвердить запрос и переместить его в архив</p>
                    </a>
                </li>
                <li>
                    <a href="#" data-action="cancel">
                        <img src="/img/finance/cancel.png"/>
                        <header>Отменить</header>
                        <p>Отменяет запрос, сохраняя все прикрепленные к нему документы</p>
                    </a>
                </li>
            </ul>
            <div data-append="details"></div>
            <footer>
                <input class="brownButton" type="button" data-tc-action="download-zip" value="Скачать документы"/>
                <input class="brownButton" type="button" data-tc-action="close" value="Закрыть"/>
            </footer>
        </form>
    </section>
</script>