<!-- Уведомление -->
<script type="text/html" data-finance-form="notify">
    <section class="finance filter-forms">
        <section class="finance-notify">
            <div class="notify">
                <p>В саппорте появились новые запросы(<span data-attr="count">0</span>). <a href="#" data-attr="update">Щелкните</a>, чтобы обновить страницу.</p>
            </div>
        </section>
    </section>
</script>

