<!-- Отмена тикета -->
<script type="text/html" data-finance-form="pending-cancel">
    <section class="finance filter-forms">
        <form action="<?php echo $this->linkPrefix(); ?>/finance/ticket/status/pending-cancel/" method="post" class="form-cancel form-pending-cancel">
            <input type="hidden" name="ticketId"/>
            <input type="hidden" name="ticketStatus"/>
            <header>
                <h1>Отмена запроса #<span data-autofill-attr="ticket-id">0</span></h1>
            </header>
            <p>Вы действительно хотите отклонить/отменить запрос #<span data-autofill-attr="ticket-id">0</span>?
            <div data-append="details"></div>
            <footer>
                <input class="brownButton" type="button" data-tc-action="close" value="Закрыть"/>
                <input class="brownButton" type="submit" data-tc-action="perform" value="Отменить запрос"/>
            </footer>
    </form>
</script>