<!-- Сортировка списка тикетов -->
<script type="text/html" data-form-type="data-table-sorter">
    <form class="form-popup">
        <ul data-attr="data-table-sorter-rows"></ul>
        <a href="javascript:void(0)" data-action="data-table-sorter-add-row" title="Добавить строку">Добавить строку</a>
        <a href="javascript:void(0)" data-action="data-table-sorter-clear" title="Выполнить сортировку">Сбросить сортировку</a>
        <div style="text-align: center; clear: both">
            <a href="javascript:void(0)" data-action="data-table-sorter-sort" title="Выполнить сортировку">Сортировать</a>
        </div>
    </form>
</script>

<script type="text/html" data-form-type="data-table-sorter-row">
    <li data-attr="data-table-sorter-row">
        <ul data-attr="data-table-sorter-row-elements"></ul>
        <a href="javascript:void(0)" data-action="data-table-sorter-add-element" title="Добавить поле">+</a>
        <a href="javascript:void(0)" data-action="data-table-sorter-delete-row" title="Удалить строку">&ndash;</a>
    </li>
</script>

<script type="text/html" data-form-type="data-table-sorter-element">
    <li>
        <select data-attr="data-table-sorter-element-field-name"></select>
        <sorter></sorter>
        <a href="javascript:void(0)" data-action="data-table-sorter-delete-element" title="Удалить поле">x</a>
    </li>
</script>

<script type="text/html" data-form-type="data-table-sorter-element-default">
    <select data-attr="data-table-sorter-element-default-order-type"></select>
</script>

<script type="text/html" data-form-type="data-table-sorter-element-sortable">
    <ul></ul>
</script>

<script type="text/html" data-form-type="data-table-sorter-element-sortable-element">
    <li>
        <input type="hidden">
        <span></span>
    </li>
</script>