<!-- Рабочий период -->
<script type="text/html"  data-finance-form="work-period">
    <section class="finance filter-forms">
        <form action="#" method="post" class="form-abstract form-compact form-work-period">
            <fieldset>
                <legend>Рабочий период</legend>

                <input type="hidden" name="ticketId" data-attr="ticket-id"/>

                <ul class="form-inputs">
                    <li>
                        <label for="gtfo">
                            От даты: <input type="text" data-attr="startDate" name="startDate" class="startDate"/>
                            <div title="Очистить поле, в этом случае рабочий период не будет ограничен снизу" class="clear-field"><img src="/img/system/clear.16.png"/></div>
                        </label>
                    </li>
                    <li>
                        <label for="gtfo">
                            До даты: <input type="text" data-attr="endDate" name="endDate" class="endDate"/>
                            <div title="Очистить поле, в этом случае рабочий период не будет ограничен сверху" class="clear-field"><img src="/img/system/clear.16.png"/></div>
                        </label>
                    </li>
                </ul>
            </fieldset>

            <footer>
                <input class="brownButton" type="submit" data-tc-action="perform" value="Применить"/>
                <input class="brownButton" type="button" data-tc-action="close" value="Закрыть"/>
            </footer>
        </form>
</script>