<!-- Смена дата обработки запроса -->
<script type="text/html" data-finance-form="write-email">
    <section class="finance filter-forms">
        <form action="<?php echo $this->linkPrefix(); ?>/analitics/finance/send" method="post" class="form-abstract form-write-email">
            <input type="hidden" name="ticketId"  data-attr="ticket-id"/>
            <header>
                <h1>Создать тикет</h1>
            </header>
            <div class="info" data-attr="email-message">
                <img src="/img/finance/mail.png"/>
                <span>Введите текст письма, которое будет отправлено по списку рассылки</span>
            </div>
            <ul class="form-inputs">
                <li>
                    <textarea data-attr="content" name="content" class="content"></textarea>
                </li>
            </ul>
            <footer>
                <input class="brownButton" type="button" data-tc-action="close" value="Закрыть"/>
                <input class="brownButton" type="submit" data-tc-action="perform" value="Отправить"/>
            </footer>
        </form>
</script>