<?php // required: recipientList ?>
<?php $this->headLink()->appendStylesheet("/css/sass/finance/finance.css"); ?>

<section class="finance">
    <ul class="recipient-list">
        <header>
            <h1>Саппорт</h1>
        </header>
        <?php foreach ($this->recipientList as $recipientName => $recipient) { ?>
            <?php /** @var $recipient App_Finance_Recipient_RecipientInterface */ ?>
            <li><a href="<?php echo $this->linkPrefix(); ?>/finance/list/<?php echo htmlspecialchars(strtolower($recipientName)); ?>/"><?php echo htmlspecialchars($recipient->getDescription()); ?></a></li>
        <?php } ?>
    </ul>
</section>