<section class="menu-items">
    <ul>
        <?php
        foreach($this->statusList as $statusInt => $statusData) {
            $statusName = $statusData['name'];
            $statusText = $statusData['text'];
            $recipient_html = htmlspecialchars($recipient);
            $counter = null;

            if($recipientAcl[$statusName]) {
                $cssClass = "";

                if($model->getConfiguration()->getTicketStatusInt() == $statusInt) {
                    $cssClass = "active";
                }

                if($statusName == "pending-cancel" && $model->getConfiguration()->getTicketStatusString() != 'pending-cancel') {
                    $statusText = 'Отмененные запросы';

                    $countService = App_Finance_Service::getInstance()->getCountService()->getStrategy('payment');
                    $numTickets = $countService->getNumPendingCancelTickets();

                    if($numTickets > 0) {
                        $counter = "(<span class=\"counter\">{$numTickets}</span>)";
                    }
                }

                echo <<<HTML
                    <li><a data-attr="{$statusName}" href="/finance/list/{$recipient_html}/{$statusName}/" class="{$cssClass}">{$statusText}{$counter}</a></li>
HTML;
            }
        }
        ?>
    </ul>
</section>